<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'metodos_numericos:home' %}">Análisis Numérico</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cap1Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Capítulo 1
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="cap1Dropdown">
                            <li><a class="dropdown-item" href="{% url 'metodos_numericos:biseccion' %}">Bisección</a></li>
                            <li><a class="dropdown-item" href="{% url 'metodos_numericos:regla_falsa' %}">Regla Falsa</a></li>
                            <li><a class="dropdown-item" href="{% url 'metodos_numericos:punto_fijo' %}">Punto Fijo</a></li>
                            <li><a class="dropdown-item" href="{% url 'metodos_numericos:raices_multiples' %}">Raices Multiples</a></li>
                            <li><a class="dropdown-item" href="{% url 'metodos_numericos:secante_metodo' %}">Secante</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cap1Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Capítulo 2
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="cap1Dropdown">
                            <li><a class="dropdown-item" href="{% url 'metodos_numericos:biseccion' %}">PRUEBA</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cap1Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Capítulo 3
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="cap1Dropdown">
                            <li><a class="dropdown-item" href="{% url 'metodos_numericos:biseccion' %}">PRUEBA</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>